#frame {
  min-width: 5rem;
  min-height: 5rem;
  display: flex;
  flex-direction: column;
  box-shadow: var(--black-shadow);

  .attempts {
    align-self: stretch;
    display: flex;
  }

  .attempts span {
    display: inline-block;
    text-align: center;
    height: 1.5rem;
  }

  #first {
    flex-grow: 1;
    align-content: center;
  }

  #second {
    box-shadow: var(--black-shadow);
    width: 40%;
    align-content: center;
  }

  .score {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
  }
}

.current {
  background-color: aqua;
}
