<div id="frame" [ngClass]="isCurrent ? 'current' : ''">
  @if(isLastFrame){
    @switch (bonus) {
      @case ('strike') {
      <section class="attempts">
        <span id="first" style="background-color: black;">X</span>
        <span id="second" [ngStyle]="{'background-color: black': rolls[1]=== 10}">{{rolls[1]}}</span>
        @if(rolls[1]+rolls[2] === 10 && rolls[1] < 10){
          <span id="second" style="background: linear-gradient(143deg, white 50%, black 50%);"></span>
        } @else if(rolls[2] === 10) {
          <span id="second" [ngStyle]="{'background-color: black': rolls[2]=== 10}">X</span>
        } @else {
          <span id="second">{{rolls[2]}}</span>
        }
      </section>
      <section class="score">{{score}}</section>
      }

      @case ('spare') {
      <section class="attempts">
        <span id="first">{{firstAttempt}}</span>
        <span id="second" style="background: linear-gradient(143deg, white 50%, black 50%);"></span>
        <span id="second" [ngStyle]="{'background-color: black': rolls[2]=== 10}">{{rolls[3]}}</span>
      </section>
      <section class="score">{{score}}</section>
      }

      @default {
      <section class="attempts">
        <span id="first">{{rolls[0]}}</span>
        <span id="second">{{rolls[1]}}</span>
        <span id="second">{{rolls[2]}}</span>
      </section>
      <section class="score">{{score}}</section>
      }
    }
  } @else {
    @switch (bonus) {
      @case ('strike') {
      <section class="attempts">
        <span id="first"></span>
        <span id="second" style="background-color: black;">'X'</span>
      </section>
      <section class="score">{{score}}</section>
      }

      @case ('spare') {
      <section class="attempts">
        <span id="first">{{firstAttempt}}</span>
        <span id="second" style="background: linear-gradient(143deg, white 50%, black 50%);"></span>
      </section>
      <section class="score">{{score}}</section>
      }

      @default {
      <section class="attempts">
        <span id="first">{{firstAttempt}}</span>
        <span id="second">{{secondAttempt}}</span>
      </section>
      <section class="score">{{score}}</section>
      }
    }
  }

</div>
